@model  IEnumerable<IsTakipSistemiMVCı.Models.Personeller>
@using GridMvc.Html

@{  
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistemYoneticisi.cshtml";
}

   <div class="container mt-5" >
     @Html.Grid(Model).Columns(column =>
{

    column.Add(m => m.personelAdSoyad).Titled("Personel Ad Soyad").Sortable(true).Filterable(true);
    column.Add(m => m.Birimler.birimAd).Titled("Birim ad").Filterable(true);
    column.Add(m => m.YetkiTurler.yetkiTurAd).Titled("Yetki Tür Ad").Filterable(true);
    column.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth(30)
       .RenderValueAs(o => Html.ActionLink("Guncelle", "Guncelle", "Personel", new { id = o.personelId }, new { @class = "btn btn-success" }));
    column.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(o => Html.ActionLink("Sil", "Sil", "Personel", new { id = o.personelId }, new { @class = "btn btn-danger" }));

}).WithPaging(4);

</div>

