 
@{                  
    ViewBag.Title = "Index";              
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";         
    @model IEnumerable<IsTakipSistemiMVCı.Models.ToplamIs>      
}            
                 
<h2>@ViewBag.birimAd  birimi için yetkilisiniz</h2>      
              
<div class="container mt-5">   
    <div class="row mb-3">
        <div class="col">
            @Html.ActionLink("Ayın Elemanı","AYinElemani","Yonteici",new {},new {@class="btn btn-info w-50 mx-5"})
        </div>
    </div>


    <ul class="list-group w-50 mx-50" >
        <li class="list-group-item  d-flex justify-content-between align-items-center  list-group-item-primary" >
            @ViewBag.birimAd birimi için çalışanların toplam yapılan işleri
        </li>
        @foreach(var item in Model)
            {
                <li class="list-group-item  d-flex justify-content-between align-items-center  list-group-item-primary">
                    @item.personelAdSoyad
                    <span class="badge bg-primary rounded-pill">Yapılan İş toplamı :@item.toplamIs</span>
                </li>
            }
    </ul>   

</div>           



