@model IEnumerable<IsTakipSistemiMVCı.Models.Loglar>
@using GridMvc.Html

@{
    ViewBag.Title = "Loglar";
    Layout = "~/Views/Shared/_LayoutSistemYoneticisi.cshtml";
}

<div class="container mt-5">
    @Html.Grid(Model).Columns(column=>
{
    column.Add(m => m.Personeller.personelAdSoyad).Titled("Personel Ad Soyad").Filterable(true);
    column.Add(m => m.logAciklama).Titled("Açıklama");
    column.Add(m => m.actionAd).Titled("Action Adı");
    column.Add(m => m.controllerAd).Titled("Controller Adı");
    column.Add(m => m.tarih).Titled("Tarih").Sortable(true);

} ).WithPaging(3)
</div>


